<div class="footer">
  <div class="container-footer">
    <div class="row row-footer">
      <div class="col-lg-4 col-footer mb-4 mb-md-0">
        <a href="/" class="logo">
          <img src="../public/assets/images/logo.png" alt="logo" />
        </a>

        <div class="c-main mt-16 mb-8">Please contact us if you have any specific idea or request</div>
        <div class="social__list">
          <a href="#" target="_blank" class="social__item maxw-24 d-inline-block"><img src="../public/assets/images/twitter.png" alt="twitter"/></a>
          <a href="#" target="_blank" class="social__item maxw-24 d-inline-block mx-16"><img src="../public/assets/images/telegram.png" alt="telegram"/></a>
          <a href="#" target="_blank" class="social__item maxw-24 d-inline-block"><img src="../public/assets/images/gmail.png" alt="gmail"/></a>
        </div>
      </div>
      <div class="col-lg-8 col-footer">
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="title fs-20 b-600 c-2 mb-10">Navigation</div>
            <div class="nav-footer">
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">Home</a></div>
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">Games</a></div>
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">Inventory</a></div>
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">NFTs Market</a></div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="title fs-20 b-600 c-2 mb-10">Products</div>
            <div class="nav-footer">
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">Game #1</a></div>
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">Game #2</a></div>
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">Game #3</a></div>
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">Game #4</a></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="title fs-20 b-600 c-2 mb-10">Support</div>
            <div class="nav-footer">
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">FAQ</a></div>
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">Help Center</a></div>
              <div class="mt-6"><a href="/" class="c-3 text-decoration-none">Give us a feedback</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>