<script src="../public/js/web3.min.js"></script>
<script src="../public/js/bsc/contract/core.js"></script>
<div class="header">
  <div class="container-header">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="row align-items-center flex-grow-1">
          <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-between">
              <a href="/" class="logo">
                <img src="../public/assets/images/logo.png" alt="logo" />
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>

          <div class="col-lg-9">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="row align-items-center flex-grow-1">
                <div class="col-lg-6">
                  <div class="d-lg-flex align-items-center justify-content-center">
                    <div class="dropdown show item-link mr-30">
                      <a class="text-decoration-none fs-16 c-main b-600 dropdown-toggle dropdown-toggle-game" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Game
                      </a>

                      <div class="dropdown-menu dropdown-menu__game-header" aria-labelledby="dropdownMenuLink">
                        <div>
                          <a class="dropdown-item d-flex align-items-center" href="#">
                            <span class="img mr-8"><img src="../public/assets/images/game-1.jpg" /></span>
                            <span class="b-700">Game#1</span>
                          </a>
                        </div>
                        <div>
                          <a class="dropdown-item d-flex align-items-center" href="#">
                            <span class="img mr-8"><img src="../public/assets/images/game-2.jpg" /></span>
                            <span class="b-700">Game#2</span>
                          </a>
                        </div>
                        <div>
                          <a class="dropdown-item d-flex align-items-center" href="#">
                            <span class="img mr-8"><img src="../public/assets/images/game-3.jpg" /></span>
                            <span class="b-700">Game#3</span>
                          </a>
                        </div>
                        <div>
                          <a class="dropdown-item d-flex align-items-center" href="#">
                            <span class="img mr-8"><img src="../public/assets/images/game-4.jpg" /></span>
                            <span class="b-700">Game#4</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="item-link mr-30"><a href="/" class="text-decoration-none fs-16 c-main b-600">NFT Market</a></div>
                    <div class="item-link"><a href="/" class="text-decoration-none fs-16 c-main b-600">Inventory</a></div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="d-lg-flex align-items-center justify-content-end">
                    <!-- <div class="item-link"><a href="/" class="login text-decoration-none fs-16 c-main b-600 d-inline-block mr-30">Login</a></div>
                     <div class="item-link"><a href="/" class="register text-decoration-none fs-16 b-600 c-main background-1 border-transparent-2 background-hover-1-2 py-8 px-24 border-radius-20 btn-transition d-inline-block mr-30">Register</a></div> -->

                     <div class="wrap-user-acct dropdown show item-link">
                      <a class="text-decoration-none fs-16 c-main b-600 dropdown-toggle dropdown-toggle-game d-flex align-items-center" href="#" role="button" id="dropdownMenuLinkInfo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- <span class="avatar mr-8">
                          <img src="../public/assets/images/avatar.png" />
                        </span>
                        -->
                        <span class="b-600 mr-8 user-acct">0x00</span>
                      </a>

                      <div class="dropdown-menu dropdown-menu__game-info" aria-labelledby="dropdownMenuLinkInfo">
                        <div class="mb-16">
                          <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                            <span class="fs-14 b-600">Setting</span>
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.8125 6L15.8125 12L9.8125 18" stroke="#EFA922" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </a>
                        </div>

                        <div class="mb-16">
                          <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                            <span class="fs-14 b-600">Sercurity</span>
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.8125 6L15.8125 12L9.8125 18" stroke="#EFA922" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </a>
                        </div>
                        </div>
                      </div>
                      <div class="item-link wrap-btn-connect"><a href="#" class="btn-connect-wallet text-decoration-none fs-16 b-600 c-2 border-2-2 border-btn-hover-2-2 py-8 px-24 border-radius-20 btn-transition d-inline-block">Connect Wallet</a></div>
                    </div>
                     
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </nav>
  </div>
</div>
<script>
    var coreHelper = new $.Core();
    $(document).ready(function() {
        coreHelper.init({});
    });
</script>
