<div class="betaverse-home home-padding">
  <div class="container-common">
    <div class="b-900 fs-64 mb-45 c-4 text-center">Betaverse</div>
    <div class="row">
      <div class="col-md-4">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active btn-betaverse mb-56" data-bs-toggle="pill" data-bs-target="#betaverse-1" type="button">
            <div class="title fs-32 b-600 py-8 px-16">Betaverse NFTs</div>
            <div class="subtitle fs-16 py-8 px-16">Ante sem ac convallis commodo ipsum. Sagittis lorem pretium est vitae. Non, nulla enim dolor et. Convallis a nisl vestibulum dignissim ut.</div>
          </button>
          <button class="nav-link btn-betaverse" data-bs-toggle="pill" data-bs-target="#betaverse-2" type="button">
            <div class="title fs-32 b-600 py-8 px-16">Betaverse Boxes</div>
            <div class="subtitle fs-16 py-8 px-16">Ante sem ac convallis commodo ipsum. Sagittis lorem pretium est vitae. Non, nulla enim dolor et. Convallis a nisl vestibulum dignissim ut.</div>
          </button>
        </div>
      </div>
      <div class="col-md-7 offset-md-1">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="betaverse-1" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <img src="../../../public/assets/images/betaverse-1.png" />
          </div>
          <div class="tab-pane fade" id="betaverse-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <img src="../../../public/assets/images/betaverse-2.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>