<div class="games-home home-padding">
  <div class="container-common">
    <div class="b-900 fs-64 mb-45 c-4 text-center">Games</div>
    <div class="owl-carousel owl-theme owl-games">
      <div class="games-item d-flex align-items-end">
        <img src="../../../public/assets/images/game-1.jpg" />
        <div class="title py-32 text-center w-100"><a href="#" class="fs-32 b-700 c-1 text-decoration-none">Game #1</a></div>
      </div>
      <div class="games-item d-flex align-items-end">
        <img src="../../../public/assets/images/game-2.jpg" />
        <div class="title py-32 text-center w-100"><a href="#" class="fs-32 b-700 c-1 text-decoration-none">Game #2</a></div>
      </div>
      <div class="games-item d-flex align-items-end">
        <img src="../../../public/assets/images/game-3.jpg" />
        <div class="title py-32 text-center w-100"><a href="#" class="fs-32 b-700 c-1 text-decoration-none">Game #3</a></div>
      </div>
      <div class="games-item d-flex align-items-end">
        <img src="../../../public/assets/images/game-4.jpg" />
        <div class="title py-32 text-center w-100"><a href="#" class="fs-32 b-700 c-1 text-decoration-none">Game #4</a></div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.owl-games').owlCarousel({
    loop:true,
    nav:true,
    dots: false,
    responsive:{
      0:{
          items:1
      }
    }
  })
</script>