<div class="milestones home-padding">
  <div class="container-common">
    <div class="b-900 fs-64 mb-45 c-4 text-center">Milestones</div>
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="milestones-item pb-8 mb-24">
          <div class="fs-24 b-700 c-1 mb-8">Registered Users</div>
          <div class="fs-40 b-700 c-4">1,000,000</div>
        </div>
        <div class="milestones-item pb-8 mb-24">
          <div class="fs-24 b-700 c-1 mb-8">All Time Trades</div>
          <div class="fs-40 b-700 c-4">$10,000,000</div>
        </div>
        <div class="milestones-item pb-8 mb-24">
          <div class="fs-24 b-700 c-1 mb-8">NFTs Minted</div>
          <div class="fs-40 b-700 c-4">1,704,874</div>
        </div>
        <div class="milestones-item">
          <div class="fs-24 b-700 c-1 mb-8">Most Expensive NFT Sold</div>
          <div class="fs-40 b-700 c-4">$1500</div>
        </div>
      </div>
      <div class="col-md-6 offset-md-2 text-right">
        <img src="../../../public/assets/images/milestones.png" />
      </div>
    </div>
  </div>
</div>