<div class="roadmaps home-padding">
  <div class="container-common">
    <div class="b-900 fs-64 mb-45 c-4 text-center">Roadmaps</div>
    <div class="row row-roadmaps">
      <div class="col-md-4 col-roadmaps">
        <div class="roadmaps-item mb-72">
          <div class="pl-40 mb-16">
            <img src="../../../public/assets/images/roadmaps-1.png" />
          </div>
          <div class="info">
            <div class="fs-16 b-600 c-1 mb-8">August - September 2022</div>
            <ul class="c-4 mb-0 pl-20">
              <li>Suspendisse tortor aliquam adipiscing viverra.</li>
              <li>Laoreet tellus, arcu in amet, iaculis.</li>
              <li>Quam urna justo, convallis morbi.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-roadmaps">
        <div class="roadmaps-item mb-72">
          <div class="pl-40 mb-16">
            <img src="../../../public/assets/images/roadmaps-2.png" />
          </div>
          <div class="info">
            <div class="fs-16 b-600 c-4 mb-8">September - October 2022</div>
            <ul class="c-4 mb-0 pl-20">
              <li>Suspendisse tortor aliquam adipiscing viverra.</li>
              <li>Laoreet tellus, arcu in amet, iaculis.</li>
              <li>Quam urna justo, convallis morbi.</li>
              <li>Ut viverra eleifend morbi ullamcorper eget dui.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-roadmaps">
        <div class="roadmaps-item mb-72">
          <div class="pl-40 mb-16">
            <img src="../../../public/assets/images/roadmaps-3.png" />
          </div>
          <div class="info">
            <div class="fs-16 b-600 c-4 mb-8">October - December 2022</div>
            <ul class="c-4 mb-0 pl-20">
              <li>Suspendisse tortor aliquam adipiscing viverra.</li>
              <li>Laoreet tellus, arcu in amet, iaculis.</li>
              <li>Quam urna justo, convallis morbi.</li>
              <li>Ut viverra eleifend morbi ullamcorper eget dui.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-roadmaps">
        <div class="roadmaps-item mb-72">
          <div class="pl-40 mb-16">
            <img src="../../../public/assets/images/roadmaps-4.png" />
          </div>
          <div class="info">
            <div class="fs-16 b-600 c-4 mb-8">December 2022 - January 2023</div>
            <ul class="c-4 mb-0 pl-20">
              <li>Suspendisse tortor aliquam adipiscing viverra.</li>
              <li>Laoreet tellus, arcu in amet, iaculis.</li>
              <li>Quam urna justo, convallis morbi.</li>
              <li>Ut viverra eleifend morbi ullamcorper eget dui.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-roadmaps">
        <div class="roadmaps-item mb-72">
          <div class="pl-40 mb-16">
            <img src="../../../public/assets/images/roadmaps-5.png" />
          </div>
          <div class="info">
            <div class="fs-16 b-600 c-4 mb-8">January - February 2023 </div>
            <ul class="c-4 mb-0 pl-20">
              <li>Suspendisse tortor aliquam adipiscing viverra.</li>
              <li>Laoreet tellus, arcu in amet, iaculis.</li>
              <li>Quam urna justo, convallis morbi.</li>
              <li>Ut viverra eleifend morbi ullamcorper eget dui.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-roadmaps">
        <div class="roadmaps-item mb-72">
          <div class="pl-40 mb-16">
            <img src="../../../public/assets/images/roadmaps-6.png" />
          </div>
          <div class="info">
            <div class="fs-16 b-600 c-4 mb-8">February - March 2023</div>
            <ul class="c-4 mb-0 pl-20">
              <li>Suspendisse tortor aliquam adipiscing viverra.</li>
              <li>Laoreet tellus, arcu in amet, iaculis.</li>
              <li>Quam urna justo, convallis morbi.</li>
              <li>Ut viverra eleifend morbi ullamcorper eget dui.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>