<div class="home-vision home-padding">
  <div class="container-common">
    <div class="b-900 fs-64 mb-45 c-4 text-center">Vision</div>
    <div class="row row-vision">
      <div class="col-md-4 col-vision">
        <div class="vision-item d-flex align-items-end mb-3 mb-md-0">
          <img src="../../../public/assets/images/vision-1.png" />
          <div class="info">
            <div class="title mb-16"><a href="#" class="c-1 fs-17 b-700 text-decoration-none">Free To Play, Play To Earn</a></div>
            <div class="content c-4">Users get rewarded for their engagement and enjoyment. A Metaverse combining Decentralized Finance and Games creating an ecosystem where developers, players, and collectors come together in one world.</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-vision">
        <div class="vision-item d-flex align-items-end mb-3 mb-md-0">
          <img src="../../../public/assets/images/vision-2.png" />
          <div class="info">
            <div class="title mb-16"><a href="#" class="c-1 fs-17 b-700 text-decoration-none">Owned by Players</a></div>
            <div class="content c-4">Players get true ownership of their in-game assets. Utilizing the power of NFTs, assets you earn in games are owned by the player and lives forever on the blockchain.</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-vision">
        <div class="vision-item d-flex align-items-end mb-3 mb-md-0">
          <img src="../../../public/assets/images/vision-3.png" />
          <div class="info">
            <div class="title mb-16"><a href="#" class="c-1 fs-17 b-700 text-decoration-none">Added-value for NFTs</a></div>
            <div class="content c-4">Assets can be used across the whole ecosystem. With a focus on NFT interoperability, assets can be used in multiple games at the same time, creating a whole new world of fun.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>