@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap);

*{
  font-family: 'Inter', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
	line-height: 20px;
  color: #FAFAFA;
  background: #11121C;
}

img{
  max-width: 100%;
  height: auto;
}

figure{
	max-width: 100%!important;
}

iframe{
  max-width: 100%!important;
}

input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

$fonts: 12, 14, 16, 22, 24, 25, 30, 45;

@each $font in $fonts {
  .f-#{$font} {
    font-size: #{$font}px;
    line-height: 1.4;
  }
}

$weights: 400, 600, 700, 900;

@each $weight in $weights {
  .b-#{$weight} {
    font-weight: #{$weight};
  }
}

$colors: (
  "black": #000000,
  "main": #11121C,
  "transparent": transparent,
  "1": #F2CE0D,
  "2": #006EB3,
  "3": #393A4D,
  "4": #FAFAFA,
  "5": #CCCCCC,
  "6": #009DFF,
);


@each $i, $color in $colors {
  .c-#{$i} {
    color: $color;	
  }
  .background-#{$i} {
    background: $color;	
  }
  .background-hover-#{$i}:hover {
    border: 1px solid $color;
    background: transparent;
    color: $color;
  }
  .background-hover-#{$i}-2:hover {
    border: 2px solid $color;
    background: transparent;
    color: $color;
  }
  .border-#{$i} {
    border: 1px solid $color;	
  }
  .border-#{$i}-2 {
    border: 2px solid $color;	
  }
  .border-btn-hover-#{$i}:hover {
    border: 1px solid transparent;
    background:	$color;
    color: #fff;
  }
  .border-btn-hover-#{$i}-2:hover {
    border: 2px solid transparent;
    background:	$color;
    color: #fff;
  }
}

@for $i from 0 through 300 {
  .fs-#{$i} {
    font-size: #{$i}px;
    line-height: 1.3;
  }

  .w-#{$i} {
    width: #{$i}px;
  }

  .h-#{$i} {
    height: #{$i}px;
  }

  .maxw-#{$i} {
    max-width: #{$i}px;
  }

  .maxh-#{$i} {
    max-height: #{$i}px;
  }

  .minw-#{$i} {
    min-width: #{$i}px;
  }

  .minh-#{$i} {
    min-height: #{$i}px;
  }

  .m-#{$i} {
    margin: #{$i}px;
  }

  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}

$borderRadius: 20, 30;

@each $radius in $borderRadius {
  .border-radius-#{$radius} {
    -webkit-border-radius: #{$radius}px;
       -moz-border-radius: #{$radius}px;
            border-radius: #{$radius}px;	
  }
}

.btn-transition{
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.cursor-pointer{
  cursor: pointer;
}

.container-common{
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

